
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

menu {
    /* background-color: lightblue; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-title {
    text-align: center;
}

menu h1 {
    font-size: 4rem;   

}

menu h3 {
    /* color: green; */
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}


main > section {
    padding: 20px;
}

section h1{
    padding: 15px 5px;
    font-size: 2rem;
    font-family: 'Pacifico';
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    color: orange;
}

section > h2{
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 30px;
}

section h3{
    font-size: 1.1rem;
    color: azure;
    margin-bottom: 30px;
}

.section-banner {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 0 0%;

}

h2 + ul > li > .content{
    padding-left: 20px;
}


.content-wrapper {
    width: 350px ;
    display: inline-flex;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 0;
}

.content-desciption {
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.content-price{
    display: inl;
    width: 25%;
    padding: 3px;
    text-align: right;
}

.content-title {
    font-weight: bolder;
    margin-bottom: .5rem;
}

@media only screen and (min-width: 480px) {
    section > ul{
        display: flex;
        flex-wrap: wrap;
    }
    .content-wrapper {
        width: 45%;
        padding-bottom: 20px;
        
    }
    .content-wrapper:nth-child(even) {
        width: 45%;
        padding-left: 10%;
    }

    
}